# top-most EditorConfig file
root = true

# Default settings:
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

# YAML files
[*.yml]
indent_size = 2
[*.yaml]
indent_size = 2

# DART files for flutter
[*.dart]
indent_size = 2

# IML files for project
[*.iml]
indent_size = 2
